<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8">
        <title>Supernatural Defenders</title>
        <link rel="stylesheet" href="/finalProject.css">
    </head>
    <body>
        <div class = "unit">
        <div class = "intro">
        <h1 class="Title">Supernatural Defenders</h1>
        <div class="introPara"><p class="singlePara">Welcome to a world filled of the natural and supernatural, a place that is far from harmonious, but is feeling it out and managing. In fact, there have been understandings made and points of clear progress. Everyone involved in this world cared about it, whether for selfless or selfish reasons.</p>
        
        <p class = "singlePara">Of course, balance cannot exist as it is without unbalance. Comfortable cannot exist without uncomfortable. And things are starting to grow...far more towards the latter. There have been tears between continuums, and there are creatures making it through from the extreme unknown: Purgatory.</p>
    
        <p class = "singlePara">Creatures near-forgotten from times of darkness are creeping their way through to wreak havoc on the world, taking out their times of turmoil on the unsuspecting people. Humans are left defenseless, as media forms have done more harm than help in what is effective against vampires, werewolves and other shifters, mages, sirens, djinns, ghouls...the list may as well have been inexhaustible.</p>

<p class = "singlePara">And they just keep showing up. Some in groups, some on their sinister own.</p>

<p class = "singlePara">Which is where you come in. You are one of those who is fond of the world without the all-out destruction of these newcomers, and you aren't exactly human. If there is any hope for this world getting out intact, it has to be you.</p>

<p class = "singlePara">Once you enter a room, you will be tasked of choosing what being you are. Here is some starting information for your consideration. And uh- best of luck! I'd like to still be around for a while now.</p>

<p class = "singlePara">----------------------------------------------------------------------------------------------------------------------------------</p>            

<p class = "singlePara">Cambion - Demon-Human Hybrid</p>

<p class = "singlePara">----------------------------------------------------------------------------------------------------------------------------------</p>

<p class = "singlePara">Physical Attack: 22, Magical: 11, Defense: 15, HP: 91</p>

<p class = "singlePara">Attacks: Shred, Bleeding Heart, Rattle</p>  

<p class = "singlePara">----------------------------------------------------------------------------------------------------------------------------------</p>     

<p class = "singlePara">Nephilim - Angel-Human Hybrid</p>

<p class = "singlePara">----------------------------------------------------------------------------------------------------------------------------------</p>

<p class = "singlePara">Physical Attack: 15, Magical: 18, Defense: 20, HP: 105</p>

<p class = "singlePara">Attacks: Healing Hands, On-Edge, Freeze</p>  

<p class = "singlePara">----------------------------------------------------------------------------------------------------------------------------------</p>   

<p class = "singlePara">Phoenix - Shifter/Mage</p>   

<p class = "singlePara">----------------------------------------------------------------------------------------------------------------------------------</p>   
<p class = "singlePara">Physical Attack: 10, Magical: 25, Defense: 15, HP: 98</p>   
<p class = "singlePara">Attacks: Flicker, Ring of Fire, Phoenix Pulse</p> 
</div>
</div>
<div class="roomListings">
    <form action="/next" method="POST">
        <label for="email">Email: </label><input type = "text" name = "email" class = "email">
        <label for="pass">Password: </label><input type = "password" name = "pass" class = "pass">
        <input type = "submit" value = "Next" class="roomButton" id="postButton">
    </form>
</div>
</div>
    </body>
</html>
